<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		{#- Add the contents of a file to the bundle #}
		<style>{% include "css/global.css" %}</style>

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<div class="reader-bar-start">
			<header>
				<a href="/" class="home-link">{{ metadata.title }}</a>

				<nav>
					<h2 class="visually-hidden">Top level navigation menu</h2>
					<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
					</ul>
				</nav>
			</header>

			<main id="main">
				<heading-anchors>
					{{ content | safe }}
				</heading-anchors>
			</main>
		</div>

		<footer>
				<p>&copy; <a href="/changelog/">2012-2026</a> Rasmus Nordling. <a href="/sitemap/">Sitemap</a></p>
				<p><em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em></p>
			</footer>
		</div>

		{% readerBar "0px" %}

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
