---
layout: layouts/post.njk
---
<style>{% include "css/message-box.css" %}</style>
<div class="message-box">
	<p>This post was originally published on <a href="https://happykodar.blogspot.com/">happy kodar</a>.</p>
</div>

{{ content | safe}}
